/*-----------------GRID DE INDEX----------------------*/  
#bodyIndex {
    display: grid;
    overflow-x: hidden;
    grid-template-areas: "sign 		sign 		sign" "header 	header 		header" "macetas 	destacados 	piedras" "macetas 	plantas 	piedras" "cartel 	contact 	piedras";
    min-height: 100vh;
    grid-template-rows: auto 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 3fr 1fr;
  }
  
  .sign {
    grid-area: sign;
    grid-column: 1 / span 3;
  }
  
  .header {
    width: 99%;
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
  
    img {
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }
  }
  
  #destacados {
    grid-area: destacados;
    #indexFotos{
      display: grid;
      grid-template-areas: "h1Fotos h1Fotos h1Fotos" "foto1 foto2 foto3" "foto4 foto5 foto5";
      margin-top: 0.5rem;
      gap: 0.5rem;
      grid-template-rows: auto auto auto;
      grid-template-columns: repeat(3, 1fr);
                 
      img{
        width: 100%;
      }
      #h1Fotos{
        grid-area: h1Fotos;
        grid-column:  1 / 4;
      }
      }
        @for $i from 1 through 5 {
          .fotoss#{$i}{
            position: relative;
            cursor: pointer;
            overflow: hidden;
            grid-area: foto#{$i};
                      &::before{
                        content: map-get($plant, $i);
                        font-size: 2rem;
                        color: map-get($colors, color9);
                        height: 2.5rem;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: map-get($colors, color4);
                        opacity: 0.8;
                        transform: scaleY(0);
                        transition: transform .2s;
                      }
                      &:hover::before{
                        transform: scaleY(1);
                      }
        }  
      }
  }
  
  #piedras {
    grid-area: piedras;
  }
  #nuevasPlantas{
    grid-area: plantas;
  }
  #blogCartel{
    grid-area: cartel;
  }
  
  #nuevasMacetas {
    grid-area: macetas;
  }
  
  #contacto {
    grid-area: contact;
    width: 100%;
    article{
      form{
        fieldset{
          padding: 1rem;
        }
      }
    }
  }
  
  /*medium size*/
  @media (max-width: 1200px) {
    #bodyIndex {
      grid-template-areas: "sign sign" "header header" "destacados destacados" "plantas plantas" "macetas piedras" "cartel piedras" "contact contact";
      min-height: 100vh;
      grid-template-rows: auto auto auto auto 0.5fr 1fr auto;
      grid-template-columns: 50vw 50vw;
    }
  
    #destacados {
      border: 3px solid map-get($map: $colors, $key: color4);
      border-radius: 3px;
      margin: 1rem;
      font-size: 2rem;
    }
  
    #contacto {
      width: auto;
      border: 3px solid map-get($map: $colors, $key: color4);
      border-radius: 3px;
      background-color: white;
      margin: 1rem;
    }
  }
  /*destacados md size*/
  @media (max-width: 1000px) {
    #destacados {
      #indexFotos {
        grid-template-areas:
          "h1Fotos h1fotos" "foto1 foto2" "foto3 foto4" "foto5 foto5";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 50%;
        gap: 0.35rem;
        
      }
    }
    #nuevasPlantas{
      img{
        width: 40% !important;
      }
    }
  }
  /*small size*/
    @media (max-width: 600px) {
      #bodyIndex {
        grid-template-areas: "sign ""header""destacados""plantas""piedras""macetas""contact";
        min-height: 100vh;
        grid-template-rows: 45px auto 0.5fr auto auto auto auto;
        grid-template-columns: 100vw;
      }
  
      #destacados {
        border: 1px solid gray;
        border-radius: 3px;
        margin: 1rem;
        font-size: 2rem;
  
        #indexFotos {
  
          grid-template-areas: "h1Fotos""foto1""foto2""foto5""foto3""foto4";
          grid-template-rows: auto auto auto auto auto auto;
          grid-template-columns: 1fr;
          gap: unset;
          row-gap: 1rem;
        }
      }
    #nuevasPlantas {
      img {
        width: 80% !important;
      }
    }
  
    #piedras {
      div {
        width: 95%;
        img {
          width: 80% !important;
          height: 22rem;
          object-fit: cover;
        }
      }
    }
  
    #blogCartel {
      display: none;
    }
  
    #contacto {
      padding: 0;
      border: 3px solid gray;
      border-radius: 3px;
      background-color: white;
      margin: 1rem;
    }
    }

  
