
@import "_vars";
@import "_mixins";
@import "_index";
@import "_productos";
@import "_cart-aboutus";
@import "_cuenta";
@import "_footer";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  body{
    background-color: map-get($colors, color3);
  }
    /*Estilización del Nav*/
  
    .nav {
      background-color: map-get($colors, color6);
    
      ul li {
        font-family: $fuenteUno;
        font-size: 2rem;
      }
      form {
        font-family: $fuenteUno;
        font-size: 2rem;
      }
      
    }
    /*estilo carrito icon*/

      .littleCart {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: url(../img/cart2.png);

        /*var(--bs-navbar-toggler-icon-bg)*/
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }

    .formFix {
      font-size: 1.5rem;
    }

/*estilo de imágenes*/

.foto {
  font-family: $fuenteDos;
  font-size: 1em;
  width: 30%;
  height: auto;

  img {
    width: 90%;
    height: auto;
    border: 2px solid #EEB8FF;
    object-fit: cover;
  }
}

.productGalery {
  font-family: $fuenteDos;
  font-size: 1em;
  width: 100%;
  height: auto;

  img {
    width: 30%;
    height: auto;
    border: 2px solid #EEB8FF;
    object-fit: cover;
  }
}

/*texto para cuerpo*/

.bodyPageFont {
  font-size: 2rem;
  font-family: $fuenteUno;
  padding: 1rem;
}

/*texto de subtitulo*/

.subtitleFont {
  text-decoration: underline;
  font-size: 1.9rem;
  font-family: $fuenteTres;
  text-align: center;
}
/*estilo de cartel*/

.itemsSignStyle {
  font-family: $fuenteTres;
  width: 100%;
  font-size: 2.5rem;
  background-color: map-get($map: $colors, $key: color5);
}

/*estilo de titulos*/

.itemsTitleStyle {
  @extend .itemsSignStyle;
  background-color: map-get($map: $colors, $key: color2);
  text-align: center;
}

/*estilo de cartel 2*/

/*.itemsSignScnd {
  font-family: $fuenteTres;
  width: 50%;
  font-size: 1.6rem;
  background-color: map-get($colors, color4);
  margin: 4rem 14rem;
  height: auto;
  text-align: center;
}*/

/*estilo de asides*/

.asideStyles {
  @include flex(column, nowrap, center, flex-start);
  margin: 1rem;
  border: 2px solid map-get($colors, color4);
  border-radius: 3px;

  /*background-color: rgb(200, 191, 231);*/
}

.flexAsideFotos {
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
  @include flex(column, nowrap, center, space-between);
}


/*estilo de fotos aside*/

.fotoAsides {
  width: 80%;
  height: auto;
  border: 2px solid #EEB8FF;
}

/*estilo para formularios*/

.contactFormStyle {
  background-color: map-get($colors, color1 );
  width: 100%;
  height: auto;
}

/*hidden resources*/

.hiddenObject {
  display: none;
}

/*centrado de fotos*/

.galleryStyle1 {
  width: 100%;
  height: 100%;
  @include flex(row, wrap, center, space-around);
  background-color: rgb(200, 191, 231);
}

/*centrar objeto*/

.objCentred {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

/*márgenes*/

.margin1 {
  margin: 1rem;
}

.margin2 {
  margin: 3rem;
}

.bgColour1 {
  background-color: rgb(200, 191, 231);
}

.bgColour2 {
  background-color: #CACACA;
}